body {
  overscroll-behavior: none;
}

.link__wrapper:hover .link__text-wrapper,
.link__wrapper:hover .link__arrow-wrapper {
  background-color: #29364b;
  transition: all 0.6s ease;
}

.link__text-wrapper,
.link__arrow-wrapper {
  transition: all 0.6s ease;
}

.button__wrapper--header:hover {
  background-color: #cdd5e0;
  transition: all 0.6s ease;
}

.button__wrapper--header {
  transition: all 0.6s ease;
}

.button__wrapper--technology:hover {
  background-color: #f8fafc;
  transition: all 0.6s ease;
}

.button__wrapper--technology {
  transition: all 0.6s ease;
}

.footer__link:hover {
  text-decoration: underline;
}
